<ion-header>
    <ion-toolbar>
        <ion-title>Discover Places</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{loadedPlaces[0].title}}</ion-card-title>
                        <ion-card-subtitle>{{loadedPlaces[0].price | currency}} / night</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img [src]="loadedPlaces[0].imageURL"></ion-img>
                    <ion-card-content>
                        <p>{{loadedPlaces[0].description}}</p>
                    </ion-card-content>
                    <div class="ion-text-right ">
                        <ion-button fill="clear"
                                    color="tertiary"
                                    routerDirection="forward"
                                    [routerLink]="['/places/discover/place-details/',loadedPlaces[0].Id]">
                            <ion-icon name="add-circle-outline"></ion-icon>
                            More
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center"></ion-col>
            <ion-list>
                <ion-item *ngFor="let place of loadedPlaces.slice(1)" [routerLink]="['/places/discover/place-details/',place.Id]"
                detail>
                    <ion-thumbnail slot="start">
                        <ion-img [src]="place.imageURL"></ion-img>

                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{place.title}}</h2>
                        <p class="ion-text-wrap">{{place.description}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-row>
    </ion-grid>

</ion-content>
